## For Loops

=> for loops always works on iterables 
iterables in Py:
    1. String   => "Maulik"
    2. List     => [1,2,3,4,5]
    3. Tuple    => (1,2,3,4,5)
    4. Set      => {1,2,3,4,5}
    5. Dict     => {"k1" : "v1", "k2" : "v2"}


Syntax:

for var in iterable:
    do something...

In [1]:
#print('Name : ', end="***************")
for i in "Maulik Raja":
    print(i)

M
a
u
l
i
k

R
a
j
a

In [4]:
'Welocome to Maulik\'s classes'

"Welocome to Maulik's classes"

In [9]:
path = "C:\\Users\\Admin\\Desktop\\Maulik_s Classes\\TTS Batches\\05April"

In [11]:
print('Welocome to \nMaulik\'s classes')

Welocome to
Maulik's classes

In [12]:
print('Welocome to \tMaulik\'s classes')

Welocome to 	Maulik's classes

In [13]:
print('Welocome to\b Maulik\'s classes')

Welocome t Maulik's classes

In [23]:
for i in enumerate("Maulik"):
    print(i)

(0, 'M')
(1, 'a')
(2, 'u')
(3, 'l')
(4, 'i')
(5, 'k')

In [24]:
for i in "Maulik":
    print(i)

M
a
u
l
i
k

In [3]:
for i in range(1, 12, ):
    print(i)

1
3
5
7
9

In [7]:
chr(2)

'\x02'

In [9]:
for i in range(65, 92):
    if i == 70:
        print("i is 70")
    else:
        print(chr(i))

A
B
C
D
E
i is 70
G
H
I
J
K
L
M
N
O
P
Q
R
S
T
U
V
W
X
Y
Z
[

In [40]:
for i in 34:
    print(i)

TypeError: 'int' object is not iterable

Range gives us a sequence of numbers. It is mandatiry to specify the end of the range, but the starting point and the stepping points are optional.
range(start: optional, stop: mandatory, step: optional)

In [5]:
for i in range(1, 20, 3):
    print(i)

1
4
7
10
13
16
19

In [13]:
for i in range(3):
    for j in range(5):
        print("*", end=" ")
    print()

* * * * *
* * * * *
* * * * *

In [13]:
a = int(input("Please enter a number : "))

In [17]:
for i in range(a):
    for j in range(i+1):
        print("*", end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

1
0 0
1 1 1
0 0 0 0
1 1 1 1 1

1
1 0
1 0 1
1 0 1 0
1 0 1 0 1

In [20]:
for i in range(5):
    for j in range(i+1):
        if i % 2:
            print(1, end=" ")
        else:
            print(0, end=" ")
    print()

0
1 1
0 0 0
1 1 1 1
0 0 0 0 0

In [23]:
for i in range(5):
    for j in range(i+1):
        if j % 2 == 0:
            print(1, end=" ")
        else:
            print(0, end=" ")
    print()

1
1 0
1 0 1
1 0 1 0
1 0 1 0 1

press 1 to add
press 2 to sub
press 3 to mul
press 4 to div

3

enter num1 :
enter num2 :

'num1 {expression}  num2 = {answer}'
1 + 2 = 3
2 - 1 = 1
2 * 3 = 6