In [4]:
# lists in python are dynamic in nature and can contain all the data types into it. 
# lists are denoted by [] brackets

In [5]:
lst = [1, "Maulik", 6.2, True]

In [6]:
lst

[1, 'Maulik', 6.2, True]

In [7]:
type(lst)

list

In [9]:
lst = [1,2,3,4,[1,2,3,4]]

In [10]:
lst

[1, 2, 3, 4, [1, 2, 3, 4]]

In [12]:
for i in enumerate(lst):
    print(i)

(0, 1)
(1, 2)
(2, 3)
(3, 4)
(4, [1, 2, 3, 4])

In [16]:
a = lst[4]

In [17]:
a

[1, 2, 3, 4]

In [18]:
lst

[1, 2, 3, 4, [1, 2, 3, 4]]

In [20]:
lst.append("Maulik")

In [21]:
lst

[1, 2, 3, 4, [1, 2, 3, 4], 'Maulik']

In [22]:
lst.insert(1, "Raja")

In [23]:
lst

[1, 'Raja', 2, 3, 4, [1, 2, 3, 4], 'Maulik']

In [25]:
lst.pop(-1)

'Maulik'

In [26]:
for i in enumerate(lst):
    print(i)

(0, 1)
(1, 'Raja')
(2, 2)
(3, 3)
(4, 4)
(5, [1, 2, 3, 4])

In [27]:
lst[5]

[1, 2, 3, 4]

In [32]:
lst[-7]

IndexError: list index out of range

In [33]:
lst.pop()

[1, 2, 3, 4]

In [34]:
lst

[1, 'Raja', 2, 3, 4]

In [35]:
var = lst.pop()

In [36]:
var

4

In [37]:
lst

[1, 'Raja', 2, 3]

In [42]:
lst = lst + lst

In [43]:
lst

[1,
 'Raja',
 2,
 3,
 1,
 'Raja',
 2,
 3,
 1,
 'Raja',
 2,
 3,
 1,
 'Raja',
 2,
 3,
 1,
 'Raja',
 2,
 3,
 1,
 'Raja',
 2,
 3,
 1,
 'Raja',
 2,
 3,
 1,
 'Raja',
 2,
 3]

In [44]:
for i in lst:
    print(i, end=" | ")

1 | Raja | 2 | 3 | 1 | Raja | 2 | 3 | 1 | Raja | 2 | 3 | 1 | Raja | 2 | 3 | 1 | Raja | 2 | 3 | 1 | Raja | 2 | 3 | 1 | Raja | 2 | 3 | 1 | Raja | 2 | 3 |

In [46]:
lst.remove("Raja")

In [47]:
for i in lst:
    print(i, end=" | ")

1 | 2 | 3 | 1 | Raja | 2 | 3 | 1 | Raja | 2 | 3 | 1 | Raja | 2 | 3 | 1 | Raja | 2 | 3 | 1 | Raja | 2 | 3 | 1 | Raja | 2 | 3 | 1 | Raja | 2 | 3 |

In [48]:
lst.remove("Raja")

In [50]:
for i in lst:
    print(i, end=" | ")

1 | 2 | 3 | 1 | 2 | 3 | 1 | Raja | 2 | 3 | 1 | Raja | 2 | 3 | 1 | Raja | 2 | 3 | 1 | Raja | 2 | 3 | 1 | Raja | 2 | 3 | 1 | Raja | 2 | 3 |

In [53]:
lst.count(1)

8

In [54]:
lst.extend("Maulik")

In [55]:
for i in lst:
    print(i, end=" | ")

1 | 2 | 3 | 1 | 2 | 3 | 1 | Raja | 2 | 3 | 1 | Raja | 2 | 3 | 1 | Raja | 2 | 3 | 1 | Raja | 2 | 3 | 1 | Raja | 2 | 3 | 1 | Raja | 2 | 3 | M | a | u | l | i | k |

In [56]:
lst_1 = list("Maulik")

In [57]:
lst_1

['M', 'a', 'u', 'l', 'i', 'k']

In [58]:
for i in lst:
    if i == "Raja":
        lst.remove(i)

In [59]:
lst

[1,
 2,
 3,
 1,
 2,
 3,
 1,
 2,
 3,
 1,
 2,
 3,
 1,
 2,
 3,
 1,
 2,
 3,
 1,
 2,
 3,
 1,
 2,
 3,
 'M',
 'a',
 'u',
 'l',
 'i',
 'k']

In [64]:
lst_1 = list("Thakkar")

In [65]:
lst_1

['T', 'h', 'a', 'k', 'k', 'a', 'r']

In [66]:
lst.append(lst_1)

In [67]:
lst

[1, 2, 3, 'a', 'u', 'i', 'l', 'k', 'M', ['T', 'h', 'a', 'k', 'k', 'a', 'r']]

In [68]:
lst.pop()

['T', 'h', 'a', 'k', 'k', 'a', 'r']

In [73]:
lst.extend(lst_1)

In [74]:
lst

['a', 'u', 'i', 'l', 'k', 'M', 'T', 'h', 'a', 'k', 'k', 'a', 'r']

In [77]:
lst.sort(reverse=True)

In [95]:
lst.pop()

'M'

In [96]:
lst

['u', 'r', 'l', 'k', 'k', 'k', 'i', 'h', 'a', 'a', 'a', 'T']

In [83]:
lst_num = []

for i in range(1, 11):
    lst_num.append(i)

In [97]:
lst_num

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [98]:
lst_num.reverse()

In [120]:
lst_num = [3,4,2,5,6,1,2,7,8,9,54,3,21]

In [121]:
lst_num[::-1]

[21, 3, 54, 9, 8, 7, 2, 1, 6, 5, 2, 4, 3]

In [122]:
lst_num.reverse()

In [123]:
lst_num

[21, 3, 54, 9, 8, 7, 2, 1, 6, 5, 2, 4, 3]

In [124]:
lst_num.sort(reverse=True)

In [125]:
lst_num

[54, 21, 9, 8, 7, 6, 5, 4, 3, 3, 2, 2, 1]

In [126]:
for i, v in enumerate(lst_num):
    if v == 54:
        lst_num[i] = 3
    if v == 3:
        lst_num[i] = 54
    break

In [127]:
lst_num

[3, 21, 9, 8, 7, 6, 5, 4, 3, 3, 2, 2, 1]

In [129]:
lst.index("l")

2

In [130]:
copy_lst = lst.copy()

In [131]:
copy_lst

['u', 'r', 'l', 'k', 'k', 'k', 'i', 'h', 'a', 'a', 'a', 'T']

In [132]:
lst

['u', 'r', 'l', 'k', 'k', 'k', 'i', 'h', 'a', 'a', 'a', 'T']

In [133]:
copy_lst_1 = lst

In [134]:
copy_lst_1

['u', 'r', 'l', 'k', 'k', 'k', 'i', 'h', 'a', 'a', 'a', 'T']

In [135]:
copy_lst_1.clear()

In [136]:
copy_lst_1

[]

In [139]:
chr(90)

'Z'

In [140]:
lst = []

for i in range(65, 91):
    lst.append(chr(i))

In [141]:
lst

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

In [142]:
for i, v in enumerate(lst):
    if v == "A" or v == "E" or v == "I" or v == "O" or v == "U":
        lst[i] = "Maulik"

In [143]:
lst

['Maulik',
 'B',
 'C',
 'D',
 'Maulik',
 'F',
 'G',
 'H',
 'Maulik',
 'J',
 'K',
 'L',
 'M',
 'N',
 'Maulik',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'Maulik',
 'V',
 'W',
 'X',
 'Y',
 'Z']

In [144]:
for i in enumerate(lst):
    print(i)

(0, 'Maulik')
(1, 'B')
(2, 'C')
(3, 'D')
(4, 'Maulik')
(5, 'F')
(6, 'G')
(7, 'H')
(8, 'Maulik')
(9, 'J')
(10, 'K')
(11, 'L')
(12, 'M')
(13, 'N')
(14, 'Maulik')
(15, 'P')
(16, 'Q')
(17, 'R')
(18, 'S')
(19, 'T')
(20, 'Maulik')
(21, 'V')
(22, 'W')
(23, 'X')
(24, 'Y')
(25, 'Z')

In [145]:
for i, v in enumerate(lst):
    print(i, "\t\t", v)

0 		 Maulik
1 		 B
2 		 C
3 		 D
4 		 Maulik
5 		 F
6 		 G
7 		 H
8 		 Maulik
9 		 J
10 		 K
11 		 L
12 		 M
13 		 N
14 		 Maulik
15 		 P
16 		 Q
17 		 R
18 		 S
19 		 T
20 		 Maulik
21 		 V
22 		 W
23 		 X
24 		 Y
25 		 Z

In [146]:
lst

['Maulik',
 'B',
 'C',
 'D',
 'Maulik',
 'F',
 'G',
 'H',
 'Maulik',
 'J',
 'K',
 'L',
 'M',
 'N',
 'Maulik',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'Maulik',
 'V',
 'W',
 'X',
 'Y',
 'Z']

In [156]:
lst[1:15:2]

['B', 'D', 'F', 'H', 'J', 'L', 'N']

In [152]:
a

['B', 'C', 'D', 'Maulik', 'F', 'G', 'H', 'Maulik', 'J']

In [160]:
lst[:-2]

['Maulik',
 'B',
 'C',
 'D',
 'Maulik',
 'F',
 'G',
 'H',
 'Maulik',
 'J',
 'K',
 'L',
 'M',
 'N',
 'Maulik',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'Maulik',
 'V',
 'W',
 'X']

['Maulik',
 'B',
 'C',
 'D',
 'Maulik',
 'F',
 'G',
 'H',
 'Maulik',
 'J',
 'K',
 'L',
 'M',
 'N',
 'Maulik',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'Maulik',
 'V',
 'W',
 'X',
 'Y',
 'Z']